@import '../../../node_modules/bootstrap/scss/bootstrap';

body {
	margin-top: 40px;
}

.enter-btn {
	cursor: pointer;
}

.the-example {
	background: url(../images/deck.png);
	height: 123px;
	width: 79px;
	background-position: 0 123px;
}

.joker {
	background: url(../images/deck.png);
}

.general-card {
	background: url(../images/deck.png);
	height: 123px;
	width: 35px;
	display: inline-block;
	cursor: pointer;
	/*background-position: 0 123px;*/
}

.selectUserBox {
	cursor: pointer;	
}